.home{
    display:flex;
    flex-direction: column;
    height: 100vh;
}

.home_header{

    display:flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}

.home_header a{
    margin-right: 20px;
    text-decoration: inherit;   /*  get rid of underline by default */
    color: rgba(0, 0, 0, 0.87);
    font-size: 15px; 
 }
.home_header a:hover{
  text-decoration: underline;  /* here we making underline when we hover */

} 

.home_headerRight{
    display: flex;
    align-items: center; /* used to align with all the element of right*/
    min-width: 13vw;
    justify-content: space-between;
}

.home_headerRight> .MuiSvgIcon-root{ 
    margin-right: 20px;
}

.home_body{
    flex: 1;
    display: flex;
    margin-top: 10%;
    flex-direction: column;

}

.home_body>img{
    object-fit: contain;
     height: 100px; /* it actually help to fit the logo at 100px */

}